html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    min-height: 100%;
    background-image: url('/images/Kheer.JPG');
    background-size: cover;
    background-repeat: no-repeat;

}

@media (max-width:300px) {
    body {
        background-image: url('/images/Kheer.JPG');
        background-size: contain;
        background-repeat: no-repeat;
    }
}