/* This CSS styles the menu page */
html,
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    min-height: 100%;

}

/* This class contains both sections left (menu) and section right (search and sign up) */
.main-Class {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    height: 100%;
    border: 3px solid rgb(214, 157, 12);
}

/* For smaller screens, added media query that will change the flex direction and not wrap keeping the size of main class intact. */
@media (max-width:800px) {
    .main-Class {
        max-height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

/* CSS styling for the entire left side div */
.leftSide {
    box-sizing: border-box;
    /* Assiging 70% of screen to menu and 30% to the search side section */
    flex: 70%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 20px;
    /* adding a scroll bar if the content is more */
    overflow-y: auto;
}

/* CSS styling for all the food items combined*/
.food-specialsList {
    /* Removing the bullets */
    list-style-type: none;
    display: flex;
    /* Arranging all containers evenly across page */
    justify-content: space-evenly;
    flex-wrap: wrap;

}

/* CSS styling for each food item class */
.allListItem {
    list-style-type: none;
    margin-bottom: 20px;
    /* Assigning a fixed space so that each item takes atleast 1/3 of page space and not unevenly depending on the number of items */
    flex: 30%;

}

/* CSS for each food item image */
.foodImg {
    width: 14em; 
    object-fit: contain;

}

/* Add to Cart button */
#addCart1 {
    width: 17em;
    height: 2.5em;
    background-color: rgb(214, 157, 12);
    margin-top: 1em;
    /* softening the edges */
    border-radius: 5px;
    /* added shadow effect around the boxes */
    box-shadow: .5px .5px 1px;
    transition-property: all;
    transition-duration: 2s;

}

/* Added to get the hover effect */
#addCart1:hover {
    transform: scale(.95);
}

/* Added to get the clicked effect */
#addCart1:active {
    transform: translateY(1px);
}