/* This CSS is styling the right section of every page. 
It adds search bar and sign up form.
It is included in all the pages except home page. */
.signUp {
    flex: 30%;
    /* Setting the background page as gray */
    background-color: rgba(128, 128, 128, 0.415);
    padding: 20px 0px;
    text-align: center;
    box-sizing: border-box;
}

/* For smaller screens */
@media screen and (max-width:800px) {
    .signUp {
        max-height: 100vh;
        flex-wrap: wrap;
    }

}

/* Added a search gif on top of search bar  */
.gif {
    width: 200px;
    height: 50px;
    padding-bottom: 10px;
}

/* Text for sign up updates */
.updateText {
    padding-top: 65px;
    padding-bottom: 10px;
    font-size: large;
}

/* Special text for the word sign up for emphasis. */
.specialFont {
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: x-large;
    /* Added a CSS animation which will change the color of sign up text to blue. */
    animation-name: signup;
    animation-duration: 1s;
    animation-iteration-count: 5;
}

/* Added a CSS animation which will change the color of sign up text to blue. */
@keyframes signup {
    from {
        color: black;
    }

    to {
        color: blue;
    }
}

/* CSS for search bar */
#searchBtn {
    border-radius: 5px;
    width: 15em;
    height: 3em;
}

/* CSS for User name and email text form */
#firstnameText,
#emailText {
    width: 15em;
    height: 2em;

}

/* Styles around the email text box  */
.emailtextbox {
    padding-top: 15px;
}

/* CSS styling for the GO button */
#goBtn {
    width: 5em;
    height: 3em;
    background-color: rgb(214, 157, 12);
    margin: 1em;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 1px;
    transition-property: all;
    transition-duration: 2s;
}

/* CSS styling for hover effect */
#goBtn:hover {
    transform: scale(.95);
}

/* CSS styling for clicked effect */
#goBtn:active {
    transform: translateY(1px);
}