html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    min-height: 100%;

}
/* Styling for Chefs hat logo */
.logoImage {
    text-align: center;
    padding-top: 2px;
    background: transparent;
}
/* Styling for website name. */
#cloudName {
    color: aliceblue;
    text-align: center;
    font-size: x-large;
}
/* Special text for the word sign up for emphasis. */
.specialNameFont {
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 35pt;    
}
/* Removing the underline from the links */
nav a {
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    
 }
 /*Removing the bullets from links that are part of a unordered list.
  Also making the container flex to display them side by side.  */
.menuList {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    
}
/* Adding a transition which changes the color of link when I mouse over it. */
.menuList>a{
    color: aliceblue;
    transition-property: color;
    transition-duration: 2s;
}
a:hover {
    color: rgb(214, 157, 12);
}
